*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#__next {
  height: 100%;
}

body {
  position: relative;
  background: #fff;
  width: 100%;
  color: black;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

#__next-prerender-indicator {
  display: none;
}

canvas {
  width: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  z-index: 7;
}

.footer {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 1em 3em;
}

.footer__icon {
  cursor: pointer;
  margin: 1em;
  opacity: 0.6;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.footer__icon:hover {
  opacity: 1;
  transform: scale(1.05);
}
