*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#__next {
  height: 100%;
}

body {
  position: relative;
  background: #000;
  width: 100%;
  color: black;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

#__next-prerender-indicator {
  display: none;
}

canvas {
  width: 100%;
  z-index: 0;
}

a {
  color: #455a64;
  text-decoration: none;
}

a:hover {
  color: #455a64;
}

.overlay {
  position: absolute;
  z-index: 7;
}

.footer {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 1em 3em;
}
